@import "src/assets/styles/variables";

.P-photo-control-table-block {

  margin-top : 30px;

  .P-photo-control-table {
    .B-data-table-body {
      > ul {
        height : 140px;
      }
    }
  }


}

.P-car-images {
  width  : 100%;
  height : 80px;
}


.P-photo-control-information {
  ul {
    width : 50%;

    li {
      display   : flex;
      flex-wrap : wrap;

      span {
        &:first-child {
          margin-right : 10px;
          font-weight  : bold;
        }

        &:last-child {
          word-break : break-word;
        }
      }
    }

    &:first-child {
      padding-right : 10px;
    }
  }
}

.P-photo-control-table {
  &.B-data-table {
    height : calc(100vh - 250px) !important;;
  }
}

.P-photo-table-image {
  width               : 100%;
  height              : 100px;
  background-size     : cover;
  background-repeat   : no-repeat;
  background-position : center;
}


.P-photo-control-table {
  .B-data-table-header {
    li {
      &:nth-child(2) {
        span {
          width : 25px;
        }
      }

      &:nth-child(4) {
        span {
          width : 25px;
        }
      }
    }
  }

  .P-table-header {
    display     : flex;
    align-items : center;

    span {
      width               : 30px;
      height              : 25px;
      background-position : center;
      background-repeat   : no-repeat;
      background-size     : contain;
      margin-right        : 5px;
    }
  }
}

.P-status-photo-control {
  width               : 20px;
  height              : 20px;
  background-position : center;
  background-repeat   : no-repeat;
  background-size     : contain;
  display             : block;
  margin-bottom       : 10px;
}

