@import "../variables";

.G-sign-in-container {
  width      : 100%;
  height     : 100vh;
  background : linear-gradient(to bottom, #00b83d 0%, #008037 100%);
  padding    : 25px;

  .G-sign-in-box {
    max-width        : 500px;
    width            : 100%;
    background-color : $white;
    box-shadow       : $shadow-black;
    border-radius    : 18px;
    padding          : 25px 45px;

    h3 {
      font-size  : 24px;
      text-align : center;
      color      : $black;
    }
  }

  .G-logo {
    width  : 170px;
    height : 80px;
    margin : 0 auto;
  }

}


.G-sign-in-btn {
  width      : 100%;
  padding    : 0 15px;
  margin-top : 20px;
}
