//  Color list

$black                 : #000000;
$white                 : #ffffff;
$app-color             : #39b549;
$app-color-hover       : rgba(57, 181, 73, 0.73);
$gray                  : #b4b1b1;
$red                   : #ee0000;
$main-green            : #005526;

$menu-bg               : #02010e;
$menu-active           : #1e282c;
$menu-active-hover     : #29393e;
$page-header-bg        : #1e282c;


//  box shadow  list

$shadow-black          : rgba(0, 0, 0, 0.2);


// linear-gradient

$linear-gradient-green : linear-gradient(to bottom, #00b83d 0%, #008037 100%)
