//  Color list

$black                 : #000000;
$white                 : #ffffff;
$app-color             : #39b549;
$app-color-hover       : rgba(57, 181, 73, 0.73);
$gray                  : #b4b1b1;
$gray-1                : #dedede;
$gray-2                : #999796;
$red                   : #ee0000;
$checkbox-bg           : #fa5959;
$checkbox-circle       : rgba(234, 41, 41, 0.97);
$main-green            : #005526;
$green-select-table    : #07bc0c;
$green-hover-table     : rgb(159, 238, 160);
$green-hover-table-1     : rgba(159, 238, 160,0.5);
$yellow                : #d76c03;
//#5FEF82
$menu-bg               : #02010e;
$menu-active           : #1e282c;
$menu-active-hover     : #29393e;
$page-header-bg        : #1e282c;


//  box shadow  list

$shadow-black          : rgba(0, 0, 0, 0.2);
$shadow-black-1          : rgba(0, 0, 0, 0.1);


// linear-gradient

$linear-gradient-green : linear-gradient(to bottom, #00b83d 0%, #008037 100%)
